{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/edit/_details" %}
  <table class="table table-line-items edit">
    <thead class="{{unbound relatedColor}}">
      <tr>
        <th></th>
        <th class="reference">{% trans "Reference" context "table-headers" %}</th>
        <th class="description">{% trans "Description" context "table-headers" %}</th>
        <th class="quantity">{% trans "Qty" context "table-headers" %}</th>
        <th class="unit-price">{% filter linebreaksbr %}{% trans "Unit price (excl. tax)" context "table-headers" %}{% endfilter %}</th>
        <th class="tax">{% trans "Tax" context "table-headers" %}</th>
        <th class="total">{% filter linebreaksbr %}{% trans "Total (excl. tax)" context "table-headers" %}{% endfilter %}</th>
      </tr>
    </thead>
    <tbody>
      {{#if currentRevision.lineItems.length}}
        {{#each currentRevision.lineItems}}
          <tr {{bind-attr class="optional"}}>
            <td class="actions">
              <a {{action 'deleteLineItem' this}}>
                <i class="picto-delete"></i>
              </a>
            </td>
            <td class="reference">
              {{view view.itemsSearchField
                currentItemBinding="this"
                dropdownCssClass="item-search-field"
                placeholder="{% trans 'Reference' %}…" }}
            </td>
            <td class="description">
              {{view Vosae.Components.SimpleEditor
                currentItemBinding="this"
                valueBinding="description"
                maxLength=1024
                classNames="edit description"
                placeholder="{% trans 'Description' %}…" }}
              {{#if optional}}<p class="optional-label">{% trans "Optional" context "line item" %}</p>{{/if}}
            </td>
            <td class="quantity">
              {{view view.lineItemQuantityField
                currentItemBinding="this"
                valueBinding="displayQuantity"
                classNames="edit quantity text-right"
                placeholder="0" }}
            </td>
            <td class="unit-price">
              {{view view.lineItemUnitPriceField
                currentItemBinding="this"
                valueBinding="displayUnitPrice"
                classNames="edit unitPrice text-right"
                placeholder="0" }}
            </td>
            <td class="tax">
              {{view view.taxesSearchField
                currentItemBinding="this"
                dropDownCssClass="tax-search-field"
                placeholder="0%" }}
            </td>
            <td class="total">
              {{this.displayTotal}}
              {{#if optional}}<p class="optional-label">{% trans "Optional" context "line item" %}</p>{{/if}}
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="7" class="no-data">
            {{#if isQuotation}}
              {% trans "No items in this quotation" %}
            {{else}}
              {% trans "No items in this invoice" %}
            {{/if}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  <p class="table-add-line">
    <a class="btn btn-small rounded {{unbound relatedColor}}" {{action addLineItem}}>
      {% trans 'Add a line' %}
    </a>
  </p>
{% endtplhandlebars %}